		<hr />

<a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow {{ site.author.twitter }}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
<a href="https://twitter.com/get_eu" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow get_eu</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
<a href="https://github.com/get-eu/get-eu/edit/gh-pages/{{ page.path }}">Edit this page</a>
<a href="http://creativecommons.org/licenses/by-sa/3.0/"><img align="right" src="/img/cc-by-sa-88x31.png"></a>        
  </div>

  <div>
  
  </div>
      <footer class="site-footer">
  {% include analytics.html %}
  {% include gauges.html %}
      </footer>

    </section>


</body>
<script src="/js/jquery-1.9.1.min.js"></script>
</html>
