{% include menu.html %}

    <section class="main-content">
      <h2><a href="/">Introduction</a> | <a href="/foo">Foo</a></h2>



  <div id="main" class="container">

	<div id="menu" class="row">
	  <div class="span3">
		<ul class="nav nav-stacked">

          <div class="nav-collapse collapse">
            <ul class="nav">
			  <li>{{ site.title }}
				<ul>
				  <li><a href="/">Home</a></li>
				  <li><a href="/what.html">What is this site?</a></li>
				  <li><a href="/why.html">Why this site?</a></li>
				  <li><a href="/pub.html">MeetUps</a></li>
				</ul>
			  </li>

              <li>Democracy
				<ul>
				  <li><a href="/democracy.html">Overview</a></li>
				  <li><a href="/suprademocracy.html">Supranationalism</a></li>
				  <li><a href="/consent-and-legitimacy.html">Legitimacy</a></li>
				  <li><a href="/ep-electoral-system.html">Elections</a></li>
</ul>
			  </li>
			    
              <li>Economics
                <ul>
                  <li><a href="/micro-reform.html">Regulation</a></li>
                  <li><a href="/euro.html">The Euro</a></li>
				  <li><a href="/trade.html">Trade</a></li>
				  <li><a href="/agriculture.html">Agriculture</a></li>
                </ul>
              </li>
              <li>Constitution
                <ul>
                  <li><a href="/constitution.html">Overview</a></li>
                  <li><a href="/defining-federalism.html">Federalism</a></li>
                  <li><a href="/referendums.html">Referendums</a></li>
                </ul>
              </li>
              <li>General
				<ul>
				  <li><a href="/faq.html">F.A.Q.</a></li>
				  <li><a href="/fuq.html">F.U.Q.</a></li>
				  <li><a href="/exit-models.html">Withdrawal</a></li>
				  <li><a href="/organisations.html">Organisations</a></li>
				  <li><a href="/links.html">Links</a></li>
				</ul>
			  </li>
<!--              <li>News
				<ul>
				  <li><a href="/news.html">Latest</a></li>
				</ul>
			  </li> -->
			  <li>About
				<ul>
				  <li><a href="/about.html">How you can help</a></li>
				  <li><a href="/editor.html">About the Editor</a></li>
				</ul>
			</ul>


		</ul>
	  </div>
	  <div id="content" class="span9">
		{{ content }}
	  </div>
	</div>
{% include footer.html %}
