{% include menu.html %}

    <section class="main-content">


  <div id="main" class="container">

	<div id="menu" class="row">
	  <div class="span3">
		<ul class="nav nav-stacked">

          <div class="nav-collapse collapse">
            <ul class="nav">
			  <li>{{ site.title }}
				<ul>
				  <li><a href="/">Home</a></li>
				  <li><a href="/what.html">What is this site?</a></li>
				  <li><a href="/why.html">Why this site?</a></li>
				  <li><a href="/pub.html">MeetUps</a></li>
				</ul>
			  </li>
              <li>General
				<ul>
				  <li><a href="/faq.html">F.A.Q.</a></li>
				  <li><a href="/fuq.html">F.U.Q.</a></li>
				  <li><a href="/exit-models.html">Withdrawal</a></li>
				  <li><a href="/organisations.html">Organisations</a></li>
				  <li><a href="/links.html">Links</a></li>
				</ul>
			  </li>
			  <li>About
				<ul>
				</ul>
			</ul>


		</ul>
	  </div>
	  <div id="content" class="span9">
		{{ content }}
	  </div>
	</div>
{% include footer.html %}
